<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>903135621540-h4n16dmaei5nbce78dribv70ss2n43q1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.903135621540-h4n16dmaei5nbce78dribv70ss2n43q1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>903135621540-2pipumnskbhvc5dtvrlr2gjpd9680cap.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB-IiKz5tc2wTViQ8cupD__FVBGJ5lKi-M</string>
	<key>GCM_SENDER_ID</key>
	<string>903135621540</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.CentralTimes.CTApp</string>
	<key>PROJECT_ID</key>
	<string>central-times-2f120</string>
	<key>STORAGE_BUCKET</key>
	<string>central-times-2f120.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:903135621540:ios:4b15058b17e0a8a44fd131</string>
</dict>
</plist>